.App {
  min-height: 100vh;
}

#header {
  text-align: center;
  background: lightblue;
  height: 10vh;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightblue;
  border: none;
  padding: 10px 20px;
  color: black;
}

.Rec {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}